{% load staticfiles %}
<html>
        <head>
         <!--   <link rel="stylesheet" href="{% static 'css/blog.css' %}">-->
  <title>jQuery UI Autocomplete</title>

  <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">

  <script src="//code.jquery.com/jquery-1.10.2.js"></script>

  <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>

  <link rel="stylesheet" href="/resources/demos/style.css">

            <script>
        $(function(){
            var language = [
                    "catalan",
                    "spanish",
                    "english",
                    "swedish",
                    "german",
                    "chinese",
                    "portuguese",
                    "japanese",
                    "korean",
                    "indian",
                    "italian",
                    "greek",

            ];
            $( "#auto_language" ).autocomplete({
                source: language
            });

        });

    </script>

        </head>


 <body>


</body>


        <style>
            p.serif {
                font-family: Impact, Charcoal, sans-serif;
                font-size: 200%
            }
        </style>

    {% block content %}
        <p class = "serif"> New Group Review data</p>
        <input id="dj">
	    <button id="ok" onclick="myFunction(dj.value)"> Apply</button>
        <form method="POST" class="post-form">{% csrf_token %}
            {{ form.as_p }}

            <label for="lan">Language: </label>
            <input id="auto_language" />

            <br>
            <button type="submit" class="save btn btn-default">Save</button>
        </form>
    {% endblock %}

  <script type="text/javascript">

/* initialize soundcloud API with key */
SC.initialize({
    /* This is the sample client_id. you should replace this with your own*/
    client_id: "887b335a80f3e625454ebca548c53d96"
});



  function myFunction(USER) {
	var auto = document.getElementById('dj');

	if(auto.value !== null && auto !== "undefined" && auto.value !== ""){

				USER = auto.value;
	}

    $("#user").html(USER);

    SC.get("/groups/?permalink="+USER, {limit: 32}).then(function(group){
    $.post("{%  url 'api_sound_PostGroup' %}",
            {
                csrfmiddlewaretoken: '{{ csrf_token }}',
                scID : group.id,
                name : group.permalink
            },
            function (data){
                if(data.status == 1){

                }
                else{

                }

            });
        });

  }
  myFunction();

</script>
$("#container")     .html(finalcontainer);
</html>