<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

 <html>
        <head>
            <title>{{ entityType }} list</title>
        </head>
        <body>
             <div>
                <h1><p>{{ entityType }} list</p></h1>
                 <br> </br>
            </div>
        <table style="width:25%">
        {% for entity in entitys %}
         <!--{{ entity }}-->
            <tr>
                <td><a href={{ entity.id }}>{{ entity }}.</a></td>
                <td><a href="/{{ basename }}.json/{{ entity.id }}">JSON</a></td>
                <td><a href="/{{ basename }}.xml/{{ entity.id }}">XML</a></td>
            </tr>
        {% endfor %}
        </table>
        </body>

    </html>