<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

 <html>
        <head>
            <title>Playlist Review list</title>


        </head>
        <body>
             <div>
                <h1><p>Playlist Review list</p></h1>
                 <br> </br>
            </div>

        {% for rv in rvs %}
         <!--{{ rv }}-->

            {% if rv.user.id  == request.user.id %}
            <a class="marge" href="{% url 'edit_playlist_review' rv.id %}" class="top-menu">Edit  <span class="glyphicon glyphicon-edit"></span></a>
            <a class="marge" href="{% url 'delete_playlist_review' rv.id %}" class="top-menu">Delete  <span class="glyphicon glyphicon-minus"></span></a>
            {% endif %}

            <br> </br>
                <p>SoundCoud ID: <b>{{ rv.playlistID }}</b></p>
                <p>Author name: <b>{{ rv.user.username }}</b></p>
                <p>Date: <b>{{ rv.date }}</b></p>
                <p>Review: <b>{{ rv.review }}</b></p>

        {% endfor %}
        </body>

    </html>