<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

 <html>
        <head>
            <title>Playlist Review</title>


        </head>
        <body vocab=
"http://schema.org/"
typeof="Review">
             <div>
                <h1 id="name"><p> <span property="name">PlayList Review</span></p></h1>
                 <br> </br>
            </div>

        {% for rv in rvs %}
         <!--{{ rv }}-->

            {% if rv.user.id  == request.user.id %}
            <a class="marge" href="{% url 'edit_playlist_review' rv.id %}" class="top-menu">Edit  <span class="glyphicon glyphicon-edit"></span></a>
            <a class="marge" href="{% url 'delete_playlist_review' rv.id %}" class="top-menu">Delete  <span class="glyphicon glyphicon-minus"></span></a>
            {% endif %}


            <span rel="reviewRating" >
                <p typeof="AggregateRating" >

                    <span property="ratingCount" content="1"></span>
                    <span property="ratingValue">3</span>

                </p>
            </span>



            <br> </br>
                     <p>SoundCoud ID: <b><span property="itemReviewed" >    {{ rv.playlistID }}  </span>   </b></p>
                     <p>Author name: <b><span property="author">    {{ rv.user.username }}       </span>   </b></p>
                     <p>Date: <b><span property="datePublished">    {{ rv.date }}                </span>   </b></p>
                     <p>Review: <b> <span property="reviewBody">    {{ rv.review }}              </span>   </b></p>

        {% endfor %}
        </body>

    </html>