<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
 <html>
        <head>
            <title>Playlist list</title>
        </head>
        <body vocab=
"http://schema.org/"
typeof="MusicPlaylist">
             <div>
                <h1 id="name"><p> PlayList List </p></h1>
                 <br />
            </div>
        {% for pl in playl %}
         <!--{{ pl }}-->
            <div>
            <br />
            	<ul rel="about"  typeof="MusicPlaylist" >
             <span property="description" value="Representing the SoundCloud ID and the name"></span>
                <p>Unique ID: <b>{{ pl.id }}</b></p>
                <p>SoundCoud ID: <b><span property="keywords">{{ pl.scID }}   </span></b></p>
                <p>Name: <b><span property="name">{{ pl.name }}</span></b></p>


                </ul>
            <span property="description" value="This represents a PlayList"></span>

       <ul rel="about">
                <span typeof="ItemList" >
                <span property="additionalType" value="Users" ></span>
                 <span property="description" value="This item List represents a list of Users"></span>
                <span property="itemListOrder" content="ID"></span>
                <span property="numberOfItems" value={{ pl.members.all.count }}></span>

                <p>Users: {%  for user in pl.members.all %}
                    <li><span property="itemListElement" >{{ user }}</span>
                    {% endfor %}</li></p>

                </span>
                <span typeof="ItemList" >
               <span property="additionalType" value="Tracks" ></span>
                <span property="description" value="This item List represents a list of Tracks"></span>
                <span property="itemListOrder" content="Unordered"></span>
                <span property="numberOfItems" value="{{  pl.trackList.all.count }}" ></span>

                <p>Tracklist: {%  for track in pl.trackList.all %}
                    <li><span property="itemListElement" >{{ track }}</span>
                    {% endfor %}</li></p>
                </span>
  </ul>


            </div>
        {% endfor %}
        </body>
    </html>