<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

 <html>
        <head>
            <title>Music Match</title>
        </head>
        <body>
             <div>
                <h1><p>Welcome to Music Match Application</p></h1>
                 <br> </br>
            </div>
             <p>Entity list:</p>
        <table style="width:25%">
      <tr>
        <td><a href="groups">Groups</a></td>
        <td><a href="groups.json">JSON</a></td>
        <td><a href="groups.xml">XML</a></td>
      </tr>
      <tr>
        <td><a href="playlists">Playlists</a></td>
        <td><a href="playlists.json">JSON</a></td>
        <td><a href="playlists.xml">XML</a></td>
      </tr>
            <tr>
        <td><a href="tracks">Tracks</a></td>
        <td><a href="tracks.json">JSON</a></td>
        <td><a href="tracks.xml">XML</a></td>
      </tr>
      <tr>
        <td><a href="users">Users</a></td>
        <td><a href="users.json">JSON</a></td>
        <td><a href="users.xml">XML</a></td>
      </tr>
                        <tr>
        <td><a href="groupreviews">Group Reviews</a></td>
        <td><a href="groupreviews.json">JSON</a></td>
        <td><a href="groupreviews.xml">XML</a></td>
      </tr>
      <tr>
        <td><a href="playlistreviews">Playlist Reviews</a></td>
        <td><a href="playlistreviews.json">JSON</a></td>
        <td><a href="playlistreviews.xml">XML</a></td>
      </tr>
            <td><a class="marge" href="{% url 'iMusicMatch.views.NewGroup' %}" class="top-menu" >Afegir un nou grup <span class="glyphicon glyphicon-plus"></span></a></td>

</table>


        </body>

    </html>